<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="TestNG">
   <parameter name="browser" value="ff"></parameter>
   <groups>
   <run>
   <include name="Smk"></include>
   </run>
   </groups>
    <classes>
      <class name="TestScripts.LoginScript"/>
    </classes>
  </test> <!-- TestNG -->
</suite> <!-- Suite -->
